:root {
	/* COLORS */
	--color-positive: #39d353;
	--color-negative: #ec3535;
	--color-dangerous: #af1b25;
	--color-text-light: #ffffff;
	--color-text-dark: #000000;
	--color-text-link: #3658f1;

	--color-border: #aaaaaa;

	/* FONT SIZES */
	--font-size-small: 12px;
	--font-size-medium: 16px;
	--font-size-large: 20px;
	--font-size-huge: 32px;

	/* BORDERS */
	--border-width: 2px;
	--border-radius: 8px;

	/* MARGINS */
	--margin-standard: 4px;
}

body {
	background-color: #1b1b1b;
	color: #fff;
	margin: 0;
	padding: 0;

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

button {
	border: var(--border-width);
	border-radius: var(--border-radius);
}

.button--positive {
	background-color: var(--color-positive);
	color: var(--color-text-light);
	font-size: var(--font-size-medium);
}

.button--negative {
	background-color: var(--color-negative);
	color: var(--color-text-light);
	font-size: var(--font-size-medium);
}

.button--dangerous {
	background-color: var(--color-dangerous);
	color: var(--color-text-light);
	font-size: var(--font-size-medium);
}

.text--size-small {
	font-size: var(--font-size-small);
}

.text--size-medium {
	font-size: var(--font-size-medium);
}

.text--size-large {
	font-size: var(--font-size-large);
}

.text--link {
	color: var(--color-text-link);
}

.border--solid {
	border: var(--border-width) solid var(--color-border);
}

.border--rounded {
	border: var(--border-width) solid var(--color-border);
	border-radius: var(--border-radius);
}

.margin--standard {
	margin: var(--margin-standard);
}

.margin--auto {
	margin: auto;
}

/* widths */
.width--full {
	width: 100%;
}

.width--very-wide {
	width: 90%;
}
