
.section {
	width: 100%;
	/* make it fits all the eliment inside */
	height: 100% ;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	animation: fadein 2s forwards;

	background-image: linear-gradient(
		180deg,
		rgba(173, 247, 242, 0.9),
		rgba(92, 170, 255, 0.9)
	);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	padding-bottom: 100px;
	padding-top: 100px;
}

.sectionblack{
	width: 100%;
	/* make it fits all the eliment inside */
	height: 100% ;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	animation: fadein 2s forwards;

	background-image: none;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	padding-bottom: 100px;
	padding-top: 100px;
}

.scroller {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroller section {
    scroll-snap-align: start;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.section .strcontainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.section .strcontainer h1 {
	font-size: 4rem;
	font-weight: 700;
	color: #fff;
	margin-bottom: 1rem;
}

.section .strcontainer p {
	font-size: 1.5rem;
	font-weight: 400;
	color: #fff;
	margin-bottom: 1rem;
}

.section .strcontainer .btncontainer {
	margin: 16px;
}

.features {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.features .feature {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 16px;
}

/* mobile support */
@media screen and (max-width: 768px) {
	.section .strcontainer h1 {
		font-size: 2.5rem;
		margin-bottom: 0.5rem;
	}

	.section .strcontainer p {
		font-size: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.features .feature {
		flex-direction: column;
	}

	.features {
		flex-direction: column;
	}
}
